@model TimeStation.Models.CreateUserViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create A New User</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <hr />
    
    <div class="form-horizontal" style="margin-left: 5%; margin-bottom: 5%;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName)
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CampusId)
            @Html.DropDownListFor(model => model.CampusId, new SelectList(Model.Campuses, "CampusId", "CampusName"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CampusId)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId)
            @Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.Departments, "DepartmentId", "DepartmentName"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentId)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CohortId)
            @Html.DropDownListFor(model => model.CohortId, new SelectList(Model.Cohorts, "CohortId", "CohortName"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CohortId)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Barcode)
            @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Barcode)
        </div>



        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
