@model TimeStation.Models.Department

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create A New Department</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <hr />

    <div class="form-horizontal" style="margin-left: 5%; margin-bottom: 5%;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentName)
            @Html.TextBoxFor(model => model.DepartmentName, new { @class = "form-control", placeholder = "ex: Learning" })
            @Html.ValidationMessageFor(model => model.DepartmentName)
        </div>

        <div class="form-group">
             <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
