@model IEnumerable<TimeStation.Models.Attendance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ApplicationUserId)</th>
        <th>@Html.DisplayNameFor(model => model.TimeIn)</th>
        <th>@Html.DisplayNameFor(model => model.TimeOut)</th>
        <th>@Html.DisplayNameFor(model => model.Duration)</th>
        <th>@Html.DisplayNameFor(model => model.CampusId)</th>
        <th>@Html.DisplayNameFor(model => model.DepartmentId)</th>
        <th>@Html.DisplayNameFor(model => model.CohortId)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)</td>
        <td>@Html.DisplayFor(modelItem => item.TimeIn)</td>
        <td>@Html.DisplayFor(modelItem => item.TimeOut)</td>
        <td>@Html.DisplayFor(modelItem => item.Duration)</td>
        <td>@Html.DisplayFor(modelItem => item.Campus.CampusName)</td>
        <td>@Html.DisplayFor(modelItem => item.Department.DepartmentName)</td>
        <td>@Html.DisplayFor(modelItem => item.Cohort.CohortName)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AttendanceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AttendanceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AttendanceId })
        </td>
    </tr>
}

</table>
